<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p class="m-0">2024 &copy; Jhoan Avila</p>
        </div>
        <div class="float-end">
            <div class="d-flex align-items-center justify-content-center gap-2">
                <a href="https://github.com/jhoanrcode" target="_blank" class="btn icon btn-primary rounded-circle m-0 px-2 py-1"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/jhoanravila/" target="_blank" class="btn icon btn-primary rounded-circle m-0 px-2 py-1"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>