<script src="{{path_base}}assets/static/js/components/dark.js"></script>
<script src="{{path_base}}assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="{{path_base}}assets/compiled/js/app.js"></script>
<script src="{{path_base}}assets/extensions/jquery/jquery.min.js"></script>
<script src="{{path_base}}js/base/script-base.js"></script>