<body>
    <script src="{{path_base}}assets/static/js/initTheme.js"></script>
    <div id="app">
        <!-- BEGIN: Menu lateral Izquierdo -->
        {{> sidebar-page }}
        <!-- END: Menu lateral Izquierdo -->

        <!-- BEGIN: Body Page -->
        <div id="main">
            <!-- BEGIN: Button Buerger Menu -->
            {{> burger-menu }}
            <!-- END: Button Buerger Menu -->
            <div class="page-heading">
                {{> name-page }}
            </div>
            <!-- BEGIN: Container Page Content -->

